html {
    background-color: black;
}

.poster-container {
    width: 600px;
    height: 400px;
    border: 10px solid white;
    margin-top: 150px;
    margin-left: 450px;
}

.poster {
    width: 600px;
    height: 400px;
}

p {
    text-align: center;
    color: white;
    font-size: 35px;
}